.head_img{
    float: left;
    
}

.head_body{
    margin-left: 550px;
}

.Page_File{
    box-sizing: border-box;
}

.drag-area{
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
    margin-left: 100px;
}

.icon{
    float: left;
    padding: 10px;
    height: 300px;
    margin: 0px 100px;
}

.icon .service{
    margin-left: -50px;
    margin-right: -100px;
    list-style: none;
}

h3{
 margin-left: 267px;
}

.icon .service li{
    text-decoration: none;
   
}

.down-area{
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
}

.Page_File:after {
    content: "";
    display: table;
    clear: both;
}

